body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.nav-wrapper {
    font-family: 'Poppins', bold;

}

.pop-corn-logo {
    width: 10%;
    height: 10%;

}


h2, h5 {
    color: white;
}


.card-content > button {
    background-color: black;
    color: white;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(50%, 2);
    grid-template-rows: repeat(25%, 4);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 60vh;
}

.childish{
    background-image: url(./assets/images/childish.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/2;
}

.intellectual{
    background-image: url(./assets/images/intellectual.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 1/2;
}

.intrepid{
    background-image: url(./assets/images/intrepid.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 2/3;
}

.in-love{
    background-image: url(./assets/images/in-love.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 2/3;
}

.playful{
    background-image: url(./assets/images/playful.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 3/4;
}

.fearless{
    background-image: url(./assets/images/fearless.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 3/4;
}

.mysterious{
    background-image: url(./assets/images/mysterious.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 4/5;
}

.futuristic{
    background-image: url(./assets/images/futuristic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 4/5;
}

.size{
    height: 2%;
}