body{
    background-color: #212121;
}

h5 {
    color: white;
}

.card-content{
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    grid-row-gap: 10px;
}

.card-content > button {
    width: 100%;
    height: 50px;  
}

.childish {
    background-color: pink;
    border-bottom-color: pink;
}


